<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>{{ title }}</title>
</head>
<body>
<div class="page-header">
    <h1><a href="/">Faux' blog</a></h1>
</div>

<div class="container-fluid">
    <div class="col-md-10">
        {{ content }}
    </div>
    <div class="col-md-2">
        <div class="sidepanel">
            <h3>Search</h3>
            <p><input size="10" type="text"/><input type="submit" value="Go"/></p>
        </div>
        <div class="sidepanel">
            <h3>Links</h3>
            <ul class="list-unstyled">
                <li><a href="/2007/01/about-me">About Me</a></li>
                <li><a href="//puttytray.goeswhere.com/">PuTTYTray</a></li>
                <li><a href="https://twitter.com/fauxicles">Faux' Twitter</a></li>
                <li><a href="https://github.com/FauxFaux/" rel="me">Faux' GitHub</a></li>
                <li><a href="http://git.goeswhere.com/" rel="me">Faux' gitweb</a></li>
                <li><a href="https://launchpad.net/~faux" rel="me">Faux' launchpad</a></li>
                <li><a href="http://uk.linkedin.com/in/chrisrwest" rel="me">Faux' LinkedIn</a></li>
                <li><a href="http://www.last.fm/user/Faux/" rel="me">Faux' last.fm</a></li>
                <li><a href="http://faux.uwcs.co.uk/" rel="me">Faux' UWCS</a></li>
                <li><a href="http://taglibhandler.sourceforge.net/" rel="me">Taglib Handler</a></li>
            </ul>
        </div>
        <div class="sidepanel">
            <h3>By Date</h3>
            <ul class="list-unstyled">
            {% for date in dates %}
                <li><a href="{{ date[0] }}">{{ date[1] }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>

